.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #344151;
  align-items: center;
  flex-direction: column;
  gap: 10;
}

.heading{
  color: #0398d4;
  font-size: xx-large;
  /* margin-top: 10px; */
  margin-bottom: 10px;
}

.content{
  display: flex;
  justify-content: center;
  background-color: white;
  gap: 12;
  padding: 0 3px;
  font-size: 25px;
  color: #344151;
  margin-bottom: 10px;
}

.increase,.decrease{
  text-align: center;
  width: 20;
  border: #bfbfbf;
  font-size: 35px;
}

.reset{
  color: white;
  font-size: 30px;
  background-color: #0398d4;
  border: none;
  border-radius: 5x solid white;
}

.mainContent{
  font: bold;
  gap: 12px;
  font-size: 30px;
  width: 50px;
  display: flex;
  justify-content: center;
}